@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.loading{
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000
}